.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: auto;
  background-color: var(--color-marvel-red);
  color: aliceblue;
}

.container img {
  height: 60%;
  width: auto;
  border-radius: 4%;
}
